{% extends 'en_baseapp/en_base.html' %}

{% load static %}

{% block title %}
Manufacture | RUTERM
{% endblock %}

{% block description %}

Manufacturing process | Production stages | RUTERM

{% endblock %}

{% block header %}
<section>
	<div class="parallax-bg constr-page-image-parallax constr-page-overlay" data-parallax="scroll" data-image-src="{% static 'images/background_1.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="constr-p-t">About</h1>
					<div class="constr-under-line-2"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}


{% block content %}

<div class="single-post">
	<div class="section">
		<div class="container">
			<div class="row ">
				<div class="col-md-offset-1 col-md-10 col-sm-8 col-xs-12">
					<section class="blog-post">
						<div class="blog-item-body">
							<p>
								RUTERM is one of the leaders in the market of steel panel radiators in Russia, Europe and the CIS, and has a well-developed distribution in this territory. The technological processes of production are based on the principle of maximum automation. This approach minimizes the use of human resources and ensures high quality indicators. The production is equipped with the latest automated equipment. The company's production complex includes a full cycle of radiator production, starting with metal dissolution, stamping, welding, painting and ending with packaging in pallets.
							</p>
							<blockquote>
								<p>
									Our technical staff team is trained under the guidance of European specialists with unique long-term experience in world-class production facilities.
								</p>

							</blockquote>
							<p>Our main mission is the production of steel radiators that are in demand on the international market. That is why responsibility, customer orientation and focus on results are so important in our business, which help us establish trusting relationships with customers.
							</p>
						</div>
					</section>
				</div>
			</div>

		</div>
	</div>
</div>

<section class="section-top constr-abt-desc constr-bg-color" id="">
	<div class="container">
		<div class="row">
			<div class="about-us">
				<div class="col-md-4">

					<img class="" src="{% static 'images/construct/about_pic_3.jpg' %}" alt="">

				</div>

			</div>

			<div class=" col-md-8">
				<div class="constr-abt-us-subtitle">RUTERM EITHER DOES EVERYTHING PERFECTLY OR DOES NOT DO AT ALL.</div>
				<div class="constr-under-line"></div>
				<div class="constr-abt-us-title">
					Our advantages:
					<p style="padding-top: 20px; font-size: 14px;">
					- Full production cycle
					</p>
					<p style="font-size: 14px;">
					- Modern European equipment, ISO 9001:2015 quality management system
					</p>
					<p style="font-size: 14px;">
					- The warranty period of operation of radiators is up to 10 years.
					</p>
					<p style="font-size: 14px;">
					- High efficiency - up to 75%
					</p>
					<p style="font-size: 14px;">
					- Modern design
					</p>
				</div>
				<div class="constr-under-line"></div>
				<p>
					We do not stand still, adopt the latest technologies, endlessly develop.
				</p>
				<p>Buying Russian-made steel radiators from us, you can always be sure that you have made the best choice. Our products are successfully sold in the CIS countries and Europe.</p>
			</div>

		</div>
	</div>

</section>

<section class="section-top constr-abt-desc" id="">
	<div class="container">
		<div class="row">
	
			<div class=" col-md-8">
				<div class="constr-abt-us-subtitle">RADIATORS HAVE A CERTIFICATE OF QUALITY CONFIRMATION IN ACCORDANCE WITH THE ESTABLISHED NORMS AND REQUIREMENTS IN THE RUSSIAN FEDERATION</div>
				<div class="constr-under-line"></div>
				<p>The modern design of RUTERM steel radiators meets the most demanding tastes of the consumer.<br> Panel radiators have an aesthetic appearance that fits perfectly into the interior of the premises. Standard radiators are painted white RAL 9016</p>
				<p>
					The thoughtful design of the top cover (grille) increases its reliability and resistance to mechanical stress compared to conventional steel radiators. The appearance of the device will remain for a long time and will provide a comfortable and cozy atmosphere in your room
				</p>
				<p>
					RUTERM radiators can be used in both single-pipe and double-pipe heating systems. Depending on the type of radiator, many options for connecting them to the system are possible, and especially the recently fashionable connection from the bottom, released from the wall. A wide range of products allows you to choose the size, length, width and power of the radiator for any room.
				</p>
			</div>

			<div class="about-us">
				<div class="col-md-4">

					<img class="" src="{% static 'images/construct/about_pic_2.jpg' %}" alt="">

				</div>

			</div>

		</div>
	</div>

</section>
<section class="section-top res-branch constr-bg-color services">

	<div class="section-header-1">
        <h4>Ruterm core principles</h4>
    </div>

	<div class="container">

		<div class="row">

			<div class="col-sm-4">
				<div class="single-service">

					<div class="icon-container">
						<div class="icon hvr-ripple-out">
							<i class="icon-briefcase"></i>
						</div>
					</div>

					<h5 class="section-title">Professionalism</h5>

				</div>
			</div>
			<div class="col-sm-4">
				<div class="single-service">
					<div class="icon-container">
						<div class="icon hvr-ripple-out">
							<i class="icon-genius"></i>
						</div>
					</div>
					<h5 class="section-title">Quality</h5>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="single-service">

					<div class="icon-container">
						<div class="icon hvr-ripple-out">
							<i class="icon-trophy"></i>
						</div>
					</div>
					<h5 class="section-title">Leadership</h5>

				</div>
			</div>

		</div>


	</div>

</section>
<div class="single-post">
	<div class="section">
		<div class="container">
			<div class="row ">
				<div class="col-md-offset-1 col-md-10 col-sm-8 col-xs-12">
					<section class="blog-post">
						<h4 class="blog-page-post-title">WARRANTY AND QUALITY</h4>
						<div class="blog-item-body">
							<p>
								RUTERM steel panel radiators are designed for residential, public spaces, individual houses with a closed-type heating system, as well as in rooms with high hygiene requirements. Medical institutions, children’s and youth educational institutions, food industry premises.
							</p>

							<p>Radiators are insured by the contract of responsibility for the quality of products, certified and meet all international standards. Continuous improvement of the production process and the high quality of our products have allowed us to extend the warranty period of up to 10 years
							</p>
						</div>
					</section>
					<!-- <div id="end-content"></div> -->

				</div>
			</div>

		</div>
	</div>

</div>

{% endblock %}