{% extends 'en_baseapp/en_base.html' %}

{% load static %}

{% block title %}
Documents | RUTERM
{% endblock %}

{% block description %}

Documents | RUTERM

{% endblock %}

{% block header %}
<section>
	<div class="parallax-bg constr-page-image-parallax constr-page-overlay" data-parallax="scroll" data-image-src="{% static 'images/background_1.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="constr-p-t">Documents</h1>
					<div class="constr-under-line-2"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<div class="section-top construct-project" id="portfolio" style="padding-bottom: 80px;">

	<div class="container fluid nopadding">
		<div class="row">
			<div class="section-header-1">
				<h4>Download documents</h4>
			</div>
			<div class="col-md-12">
				<ul class="pf-filter">

					<li class="btn-lines" data-filter="*">All documents
					</li>
					<li class="btn-lines" data-filter=".catalog">Catalog
					</li>
					<li class="btn-lines" data-filter=".certificate">Certificates
					</li>
					<li class="btn-lines" data-filter=".passport">Specification
					</li>
					<li class="btn-lines" data-filter=".work_seq">Occupational safety
					</li>
				</ul>
				<div id="even-grid">
					<div class="isotope">
						<div class="nopadding grids-item item photo certificate">
							<img class="grid-item"  src="{% static 'images/cert_preview.jpg' %}" alt="Ruterm certificate">
							<div class="portfolio-hover">
								<div class="action-btn">
									<div class="port-title">Ruterm certificate</div><br>
									<a class="lightbox" target="_blank" data-lightbox-gallery="gallery1" href="{% static 'files/Ruterm_certificate.pdf' %}"> <i class="icon-magnifying-glass"></i> </a>
								</div>
							</div>
						</div>
						<div class="nopadding grids-item item photo catalog">
							<img class="grid-item"  src="{% static 'images/catalog_preview.jpg' %}" alt="Catalog">
							<div class="portfolio-hover">
								<div class="action-btn">
									<div class="port-title">Catalog</div><br>
									<a class="lightbox" target="_blank" data-lightbox-gallery="gallery1" href="{% static 'files/ruterm_catalog.pdf' %}"> <i class="icon-magnifying-glass"></i> </a>
								</div>
							</div>
						</div>
						<div class="nopadding grids-item item photo passport">
							<img class="grid-item"  src="{% static 'images/passport_preview.jpg' %}" alt="Technical certificate">
							<div class="portfolio-hover">
								<div class="action-btn">
									<div class="port-title">Technical certificate</div><br>
									<a class="lightbox" target="_blank" data-lightbox-gallery="gallery1" href="{% static 'files/technical_passport_Ruterm.pdf' %}"> <i class="icon-magnifying-glass"></i> </a>
								</div>
							</div>
						</div>
						<div class="nopadding grids-item item photo work_seq">
							<img class="grid-item"  src="{% static 'images/vedomost_preview.jpg' %}" alt="Occupational safety - consolidated statement">
							<div class="portfolio-hover">
								<div class="action-btn">
									<div class="port-title">Occupational safety - consolidated statement</div><br>
									<a class="lightbox" target="_blank" data-lightbox-gallery="gallery1" href="{% static 'files/vedomost_200921.pdf' %}"> <i class="icon-magnifying-glass"></i> </a>
								</div>
							</div>
						</div>
						<div class="nopadding grids-item item photo work_seq">
							<img class="grid-item"  src="{% static 'images/recommended_activities_preview.jpg' %}" alt="Occupational safety - list of recommended activities">
							<div class="portfolio-hover">
								<div class="action-btn">
									<div class="port-title" >Occupational safety - list of recommended activities</div><br>
									<a class="lightbox" target="_blank" data-lightbox-gallery="gallery1" href="{% static 'files/list_of_ recommended_activities_20092021.pdf' %}"> <i class="icon-magnifying-glass"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}