{% extends 'en_baseapp/en_base.html' %}

{% load static %}

{% block title %}
Manufacture | RUTERM
{% endblock %}

{% block description %}

Manufacturing process | Production stages | RUTERM

{% endblock %}

{% block header %}
<section>
	<div class="parallax-bg constr-page-image-parallax constr-page-overlay" data-parallax="scroll" data-image-src="{% static 'images/main_background.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="constr-p-t">Manufacture</h1>
					<div class="constr-under-line-2"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}

<section class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				
				<section class="normal-tabs">
					<ul class="nav  nav-tabs nav-justified">
						<li class=" active">
							<a class="nav-link active" data-toggle="tab" href="#tab-one">Manufacturing process</a>
						</li>
						<li class="">
							<a class="nav-link" data-toggle="tab" href="#tab-two">Production stages</a>
						</li>

					</ul>
					<div class="panel-body">
						<div class="tab-content">
							<div id="tab-two" class="tab-pane">
								<div class="nopadding intr-srv-desc container">
									<div class="row">
										<div class=" col-md-6">
											<div class="fit-img prod-pic-1">
											</div>
										</div>
										<div class="col-md-6">
											<div class="arch-srv-heading right" style="padding-bottom: 30px;">1. Metal slitting</div>
												<!-- <div class="arch-srv-subhead right"></div>
													<div class="int-under-line-3 right"></div> -->
													<p >
														The production cycle begins with metal slitting. We choose cold rolled steel made in accordance with international standards. Upon receipt of the batch, we conduct a thorough incoming inspection of raw materials for compliance with the declared characteristics. 
													</p>	
													<p>
														The steel further enters the blank section and, according to the production plan, is slit into strips of the required width.
													</p>	
													<p >
														Metal slitting is a micron-accurate technological and painstaking process. This ensures absolute compliance with the height standards for each size.
													</p>
												</div>
											</div>
											<div class="row">
												<div class="arch-srv-block-1">
													<div class="col-md-6">
														<div class="arch-srv-heading" style="padding-bottom: 30px;">2. Stamping</div>
													<!-- <div class="arch-srv-subhead">architecture</div>
														<div class="int-under-line-3"></div> -->
														<p>
															The contours of future steel panel radiators are formed in the stamping shop, where 13 high-precision modern electronic controlled machine tools operate. 

															Each is responsible for stamping specific parts: external and internal panels, convectors, side walls, and covers. 
														</p>
														<p>
															Presses operate automatically and are software programmable. The electronic brain provides impeccable print accuracy of every part. 

															The panels are formed at a pressure of 630 tons at a speed of 40 beats per minute. This initially forms the ideal geometry of the finished device.
														</p>
													</div>
													<div class="col-md-6">
														<div class= "fit-img prod-pic-2">
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class=" col-md-6">
													<div class="fit-img prod-pic-3">
													</div>
												</div>
												<div class="col-md-6">
													<div class="arch-srv-heading right" style="padding-bottom: 30px;">3. Welding</div>
												<!-- <div class="arch-srv-subhead right"></div>
													<div class="int-under-line-3 right"></div> -->
													<div style="height:320px; overflow: auto;">
														<p>
															Welding of steel panel radiators is a key production phase. The LEAS line (Italy) was developed specifically for the Ruterm plant and was installed by the manufacturer in 2020. LEAS offered advanced technology and software that smoothly supports robots.
														</p>
														<p>
															Human participation in the welding cycle is minimized. The task of the operator is to feed blanks. Then the radiator is assembled as a construction set – the parts are welded in strict sequence by spot and roller welding.
														</p>
														<p>
															The line is run by operators, a setup engineer, and electronic engineers who control software settings. In parallel, the data is processed and sent to the LEAS server.

															This provides triple control of the accuracy of welding parts – line operators, plant engineers, and LEAS specialists. A high-quality product is created – the ergonomic, energy-efficient, and environmentally friendly Ruterm steel panel radiator. 
														</p>
														<p>
															Together with LEAS, we pursue an increase in the productivity of the welding line. Improving the software in conjunction with the highly qualified staff of Ruterm reduces the time required to change the line.

															On an annualized basis, this saves hundreds of hours. We produce thousands of additional instruments through rational production optimization.
														</p>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="arch-srv-block-1">
													<div class="col-md-6">
														<div class="arch-srv-heading" style="padding-bottom: 30px;">4. Testing</div>
													<!-- <div class="arch-srv-subhead">architecture</div>
														<div class="int-under-line-3"></div> -->
														<div style="height:320px; overflow: auto;">
															<p>
																After welding, each radiator is tested in a test bath, which is serviced by two operators. The finished device is completely immersed in a special protective solution under a pressure of 13 atmospheres. The slightest leakage appears within 2-3 seconds.
															</p>
															<p>
																The scheme of the process cycle at the Ruterm plant, the settings of the stamping presses, and the welding line practically eliminate the rejects. At the same time, quality control at each stage is a mandatory stage in the process flow, and the test bath is an impartial controller.
															</p>
															<p>
																A pedantic approach to the quality of products under the Ruterm brand is the key value of Ruterm. This is the way the reputation, the name on the international market, the trust of partners are formed. 
																Therefore, our radiators withstand any tests for strength, tightness, and energy efficiency.
															</p>
														</div>
													</div>
													<div class="col-md-6">
														<div class= "fit-img prod-pic-4">
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class=" col-md-6">
													<div class="fit-img prod-pic-5">
													</div>
												</div>
												<div class="col-md-6">
													<div class="arch-srv-heading right" style="padding-bottom: 30px;">5. Surface treatment</div>
												<!-- <div class="arch-srv-subhead right"></div>
													<div class="int-under-line-3 right"></div> -->
													<div style="height:320px; overflow: auto;">
														<p>
															We use innovative technologies of chemical treatment, which includes three stages of cleaning and preparation for priming and painting:
														</p>	
														<p>
															- Complete degreasing of the inner and outer surfaces.
															- Elimination of scale, dirt, the smallest fibers, and dust particles.
															- Protective nanoceramic coating with a thickness of 100 nm.
														</p>	
														<p>
															Deep and technologically advanced surface treatment provides high paint adhesion and anti-corrosion protection of the radiator. It also helps to increase the shelf life of products and reduces sensitivity to low temperatures, which is especially important during transportation and storage in the cold season.
														</p>	
														<p>
															We use chemicals and formulations safe for humans and the environment. Our partners are 
															the world's largest manufacturer of powder coatings a concern of the chemical industry Akzo Nobel and НПК ЯрЛи, known as the top-grade product manufacturers.
														</p>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="arch-srv-block-1">
													<div class="col-md-6">
														<div class="arch-srv-heading" style="padding-bottom: 30px;">6. Priming</div>
													<!-- <div class="arch-srv-subhead">architecture</div>
														<div class="int-under-line-3"></div> -->
														<div style="height:320px; overflow: auto;">
															<p>
																Priming prepares the radiator for powder coating. The device is completely immersed in a viscous soil bath. Liquid paint envelops the panels, penetrates the bends of the convector, fills in possible irregularities.
															</p>
															<p>
																Ruterm uses a primer of the Russian company – ЗАО «НПК ЯрЛИ» – a manufacturer famous for its highly adhesive products.

																The production cycle is designed so that after complete immersion, the radiator slowly passes through the primer. Excess flows down as the device rises, the speed is calculated with pinpoint accuracy. 
															</p>
															<p>
																The product, dried at 130°C and coated with a film of the same thickness, with the ideal undercoat for the final coating, enters the paint-spraying booth.
															</p>
														</div>
													</div>
													<div class="col-md-6">
														<div class= "fit-img prod-pic-6">
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class=" col-md-6">
													<div class="fit-img prod-pic-7">
													</div>
												</div>
												<div class="col-md-6">
													<div class="arch-srv-heading right" style="padding-bottom: 30px;">7. Painting</div>
												<!-- <div class="arch-srv-subhead right"></div>
													<div class="int-under-line-3 right"></div> -->
													<div style="height:320px; overflow: auto;">
														<p>
															Ruterm uses fail-safe and time-tested powder coating and baking technology. 
															Particles of snow-white powder with a different charge tightly envelop the outer panels, top plates, and covers, and cover the inner surfaces with a layer of a given thickness. The cloud envelops the radiator – from below, from above, from the sides.
														</p>
														<p>
															The radiator then enters the baking chamber, where the powder is baked at 210°C. Light gloss emphasizes the whiteness of the surfaces and uniformity of coating. The standard thickness of the paint layer is 100 microns.
															The quality control service performs the output control of all parameters: layer thickness, adhesion, uniformity of coating. Factory standards apply to all products, regardless of brand.
														</p>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="arch-srv-block-1">
													<div class="col-md-6">
														<div class="arch-srv-heading" style="padding-bottom: 30px;">8. Packaging</div>
													<!-- <div class="arch-srv-subhead">architecture</div>
														<div class="int-under-line-3"></div> -->
														<div style="height:320px; overflow: auto;">
															<p>
																A completely finished radiator enters the packaging line. Operators pack each unit in a dense plastic film, put on corner protectors with service holes. Each package is complete with a data sheet and an installation kit. 
															</p>
															<p>	
																These are fastening brackets, an air vent for a screwdriver, plugs, screws and dowels, plastic retainer-gaskets. Bottom connection radiators are additionally equipped with a valve insert.
															</p>
															<p>
																The consumer receives a steel radiator, completely ready for installation. There is no need to remove polyethylene – the device is mounted in a package. After the completion of repair and finishing works, it appears in all its glory and generously gives up the heat on cold winter days and nights.
															</p>
														</div>
													</div>
													<div class="col-md-6">
														<div class= "fit-img prod-pic-8">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="tab-one" class="tab-pane active">
										<div class="single-post">
											<div class="section">
												<div class="container">
													<div class="row ">
														<div class="col-md-offset-1 col-md-10 col-sm-8 col-xs-12">
															<section class="blog-post">
																<h4 class="blog-page-post-title">How we make Ruterm steel radiators</h4>
																<div class="blog-item-body">
																	<p>
																		We have equipped the workshop with advanced equipment; we value and protect our staff. All plant employees undergo systematic training and upgrade their skills.
																	</p>
																	<p>
																		The company’s engineers have studied hundreds of heating appliances, compared the characteristics and technical parameters of dozens of brands. As a result, specialists have developed Ruterm radiators – a high-tech Ukrainian product with the following features:
																	</p>	
																	<blockquote>
																		<p>
																			- energy efficiency
																		</p>
																		<p>
																			- ergonomics
																		</p>
																		<p>
																			- environmental friendliness
																		</p>
																	</blockquote>
																	<p>
																		We place a premium on the interests of the end-user, who receives a high-quality heating product for rooms for various purposes and of various area. Therefore, we built a cycle on the principle of Swiss watch production: 
																	</p>
																	<blockquote>
																		<p>
																			- quality control of incoming raw materials
																		</p>
																		<p>
																			- adjustment of production lines with micron accuracy of each operation
																		</p>
																		<p>
																			- production of radiators according to the process regulations
																		</p>
																		<p>
																			- control of parameters at each stage
																		</p>
																		<p>
																			- packaging and preparation for shipment to any distance
																		</p>
																	</blockquote>
																	<p>
																		Human participation in the production process is minimized. At the same time, the operators and adjusters are our watchmakers, who pedantically control each line unit in the workshop.
																	</p>
																</div>
																<h4 class="blog-page-post-title">One radiator goes through eight stages of production</h4>
																<div class="blog-item-body">
																	<p>
																		НAt first glance, it seems that a steel radiator is a simple product, stamped and welded from metal. In fact, the technology includes eight stages of production:
																	</p>	
																	<blockquote>
																		<p>
																			- metal slitting
																		</p>
																		<p>
																			- stamping
																		</p>
																		<p>
																			- welding
																		</p>
																		<p>
																			- testing
																		</p>
																		<p>
																			- surface treatment
																		</p>
																		<p>
																			- priming
																		</p>
																		<p>
																			- painting
																		</p>
																		<p>
																			- packaging
																		</p>

																	</blockquote>
																	<p>
																		Production begins with quality control of incoming raw materials. Next, quality control is performed at each stage of the process cycle.
																	</p>
																	<p>
																		Every day we handle 40 tons of metal. Some of the heating devices are immediately sent to customers, some remains in stock. That is why we provide deliveries within three days – heating devices of all types are always available.
																	</p>
																	<p>
																		Also, at the request of partners, we expand the range – add new types and sizes of radiators.
																	</p>
																	<p>
																		Ruterm company has proved its worth as a supplier that clearly fulfills contractual obligations and ensures timely shipment. This is the result of a conscious attitude to quality standards.
																	</p>
																	<p>
																		Our partners, whom we produce radiators for, trust us. This contributes to the saturation of the market with high-quality heating devices. We see the partnership as the fulfillment of our mission – warm houses with economical and efficient radiators.
																	</p>
																</div>
															</section>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>

						</div>

					</div>

				</section>

			</div>
		</div>
	</div>
</section>
{% endblock %}