{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}
О компании | RUTERM
{% endblock %}

{% block description %}
Компания RUTERM является одним из лидеров на рынке стальных панельных радиаторов в РФ, стран Европы и СНГ, и располагает хорошо развитой дистрибуцией на этой территории.
{% endblock %}

{% block header %}
<section>
	<div class="parallax-bg constr-page-image-parallax constr-page-overlay" data-parallax="scroll" data-image-src="{% static 'images/background_1.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="constr-p-t">О компании</h1>
					<div class="constr-under-line-2"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}

<div class="single-post">
	<div class="section">
		<div class="container">
			<div class="row ">
				<div class="col-md-offset-1 col-md-10 col-sm-8 col-xs-12">
					<section class="blog-post">
						<div class="blog-item-body">
							<p>
								Компания RUTERM является одним из лидеров на рынке стальных панельных радиаторов в РФ, стран Европы и СНГ, и располагает хорошо развитой дистрибуцией на этой территории.
								Технологические процессы производства основаны на принципе максимальной автоматизации. Данный подход минимизирует использование человеческого ресурса и обеспечивает достижение высоких показателей качества.
								Производство оснащено новейшим автоматизированным оборудованием. Производственный комплекс компании включает в себя полный цикл производства радиаторов начиная с роспуска металла, штамповки, сварки, покраски и заканчивая упаковкой в паллеты.
							</p>
							<blockquote>
								<p>
									Команда наших технических кадров подготовлена под руководством европейских специалистов, имеющих уникальный многолетний опыт работы на производствах мирового уровня.
								</p>

							</blockquote>
							<p>Наша главная миссия – производство стальных радиаторов, которые востребованы на международном рынке. Именно поэтому в нашем деле так важны ответственность, клиентоориентированность и нацеленность на результат, которые помогают нам наладить доверительные отношения с клиентами.
							</p>
						</div>
					</section>
				</div>
			</div>

		</div>
	</div>
</div>

<section class="section-top constr-abt-desc constr-bg-color" id="">
	<div class="container">
		<div class="row">
			<div class="about-us">
				<div class="col-md-4">

					<img class="" src="{% static 'images/construct/about_pic_3.jpg' %}" alt="">

				</div>

			</div>

			<div class=" col-md-8">
				<div class="constr-abt-us-subtitle">В RUTERM либо все делают идеально, либо не делают вообще. </div>
				<div class="constr-under-line"></div>
				<div class="constr-abt-us-title">
					Наши преимущества:
					<p style="padding-top: 20px; font-size: 14px;">
					- Полный цикл производства
					</p>
					<p style="font-size: 14px;">
					- Современное европейское оборудование,
					</p>
					<p style="font-size: 14px; margin-left: 10px;">
					система управления качеством ISO 9001:2015
					</p>
					<p style="font-size: 14px;">
					- Гарантийный срок эксплуатации радиаторов до 10лет.
					</p>
					<p style="font-size: 14px;">
					- Высокий коэффициент полезного действия – до 75%
					</p>
					<p style="font-size: 14px;">
					- Современный дизайн 
					</p>
				</div>
				<div class="constr-under-line"></div>
				<p>
					Мы не стоим на месте, принимаем новейшие технологии, бесконечно развиваемся.
				</p>
				<p>Покупая стальные радиаторы отопления российского производства у нас, вы всегда можете быть уверены , что сделали лучший выбор. Наша продукция успешно продается в странах СНГ и Европы. <br>
			</div>

		</div>
	</div>

</section>

<section class="section-top constr-abt-desc" id="">
	<div class="container">
		<div class="row">
	
			<div class=" col-md-8">
				<div class="constr-abt-us-subtitle">Радиаторы имеют сертификат подтверждения качества в соответствии с установленными нормами и требованиями в РФ </div>
				<div class="constr-under-line"></div>
				<p>Современный дизайн стальных радиаторов RUTERM разработан для удовлетворения самых требовательных вкусов потребителя. <br> Панельные радиаторы имеют эстетичный внешний вид, идеально вписывающийся в интерьер помещений. Стандартно радиаторы окрашены в белый цвет RAL 9016</p>
				<p>
					Продуманная конструкция верхней крышки (решетки) увеличивает ее надежность и устойчивость к механическим воздействиям по сравнению с обычными стальными радиаторами. Внешний вид прибора сохранится долгое время и обеспечит комфортную и уютную атмосферу в Вашем помещении.
				</p>
				<p>
					Радиаторы RUTERM можно применять как в однотрубных, так и в двухтрубных системах отопления. В зависимости от типа радиатора возможны многие варианты их подключения к системе, а особенно модное в последнее время подсоединение снизу, выпущенное из стены. Широкая гамма изделий позволяет подобрать соответствующий размер, длину, ширину и мощность радиатора к любому помещению.
				</p>
			</div>

			<div class="about-us">
				<div class="col-md-4">

					<img class="" src="{% static 'images/construct/about_pic_2.jpg' %}" alt="">

				</div>

			</div>

		</div>
	</div>

</section>
<section class="section-top res-branch constr-bg-color services">

	<div class="section-header-1">
        <h4>Основные принципы компании Ruterm</h4>
    </div>

	<div class="container">

		<div class="row">

			<div class="col-sm-4">
				<div class="single-service">

					<div class="icon-container">
						<div class="icon hvr-ripple-out">
							<i class="icon-briefcase"></i>
						</div>
					</div>

					<h5 class="section-title">Профессионализм</h5>

				</div>
			</div>
			<div class="col-sm-4">
				<div class="single-service">
					<div class="icon-container">
						<div class="icon hvr-ripple-out">
							<i class="icon-genius"></i>
						</div>
					</div>
					<h5 class="section-title">Качество</h5>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="single-service">

					<div class="icon-container">
						<div class="icon hvr-ripple-out">
							<i class="icon-trophy"></i>
						</div>
					</div>
					<h5 class="section-title">Лидерство</h5>

				</div>
			</div>

		</div>


	</div>

</section>
<div class="single-post">
	<div class="section">
		<div class="container">
			<div class="row ">
				<div class="col-md-offset-1 col-md-10 col-sm-8 col-xs-12">
					<section class="blog-post">
						<h4 class="blog-page-post-title">ГАРАНТИЯ И КАЧЕСТВО</h4>
						<div class="blog-item-body">
							<p>
								Стальные панельные радиаторы RUTERM предназначены для использования в жилых, общественных помещениях, индивидуальных домах с системой отопления закрытого типа, а так же в помещениях с высокими требованиями к гигиене: медицинские учреждения, детско-юношеские образовательные заведения, помещения пищевой промышленности.
							</p>

							<p>Радиаторы застрахованы договором ответственности за качество продукции, сертифицированы и отвечают всем международным стандартам. Постоянное совершенствование производственного процесса и высокое качество нашей продукции позволили продлить гарантийный срок эксплуатации радиаторов до 10 лет.

							</p>
						</div>
					</section>
					<!-- <div id="end-content"></div> -->

				</div>
			</div>

		</div>
	</div>

</div>



{% endblock %}