<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}RUTERM{% endblock %}">
    <meta name="keywords" content="{% block keywords %} {% endblock %}">
    <meta name="author" content="rashed amin">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block title %}RUTERM{% endblock %}</title>

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootsnav.css' %}">

    <link rel="stylesheet" href="{% static 'assets/elegant-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/et-line-font/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ion-icon/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/nivo_themes/default/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-schemes/teal.css' %}">


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>

</head>

<body>

    <header class="header" id="home">

        <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                   <!--  <a class="navbar-brand" href="{% url 'show_index' %}"><img src="{% static 'images/logo_full.png' %}
                        " class="logo" style="height: 46px; width: auto;"  alt=""></a> -->
                    <a class="navbar-brand" href="{% url 'show_index' %}"><img src="{% static 'images/g316.png' %}
                        " class="logo" style="width: 46px;"  alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="" data-out="">
                            <li>
                                <a href="{% url 'show_index' %}">Главная</a>
                            </li>
                            <li>
                                <a href="{% url 'show_about_company' %}">О компании</a>
                            </li>
                            <li>
                                <a href="{% url 'show_products' %}">Продукция</a>
                            </li>
                            <li>
                                <a href="{% url 'show_production' %}">Производство</a>
                            </li>
                            <li>
                                <a href="{% url 'show_documents' %}">Документы</a>
                            </li>
                            <li>
                                <a href="{% url 'show_contacts' %}" >Контакты</a>
                            </li>
                            <!-- <li>
                                <a href="{% url 'en_show_index' %}" >EN</a>
                            </li> -->
                        </ul>
                    </div>
            </div>
        </nav>

    {% block header %}

    {% endblock %}

    </header>

    {% block content %}

    {% endblock %}


    <footer class="footer-section footer-1">
        <div class="row footer-content">
            <div class="col-md-offset-1 col-md-4 footer-column">
                <div class="footer-logo">
                    <img src="{% static 'images/g316.png' %}" alt="logo" />
                    <p style="color: #e4002b;">RUTERM</p>
                </div>
                <div class="footer-desc">
                    Наша продукция успешно продается в странах СНГ и Европы.
                </div>
                <div class="copyright-3">Developed by: <a style="color: #e4002b;" href="https://annasoft.ru" target="_blank">Annasoft</a></div>
            </div>
            <div class="col-md-2 footer-column" style="padding-left: 30px;">
                <ul class="footer__nav-list">
                    <li class="footer__nav-item footer__nav-item--heading">Меню</li>
                    <li class="footer__nav-item"><a href="{% url 'show_index' %}" class="footer__nav-link">Главная</a></li>
                    <li class="footer__nav-item"><a href="{% url 'show_about_company' %}" class="footer__nav-link">О компании</a></li>
                    <li class="footer__nav-item"><a href="{% url 'show_products' %}" class="footer__nav-link">Продукция</a></li>
                    <li class="footer__nav-item"><a href="{% url 'show_production' %}" class="footer__nav-link">Производство</a></li>
                    <li class="footer__nav-item"><a href="{% url 'show_contacts' %}" class="footer__nav-link">Контакты</a></li>
                </ul>
            </div>

            <div class="col-md-5 footer-column" style="padding-left: 30px;">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="footer__nav-list">
                            <li class="footer__nav-item footer__nav-item--heading">Контакты</li>
                            <li>308519, Белгородская область,<br> Белгородский район, пгт. Северный,<br> ул. Березовая, зд. 5а</li>

                            <li class="email-3"><a  style="color: #e4002b;" href="email: office@ru-therm.ru">office@ru-therm.ru</a></li>
                            <li class="footer__nav-item social-li"><a href="https://vk.com/club206040685" target="_blank" class="footer__nav-link">VK</a><a href="https://www.facebook.com/groups/614993079905058/" target="_blank" class="footer__nav-link">FACEBOOK</a><a href="https://instagram.com/ruterm31?utm_medium=copy_link" target="_blank" class="footer__nav-link">INSTAGRAM</a><a href="https://ok.ru/group/60928093192271" target="_blank" class="footer__nav-link">OK</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <ul class="footer__nav-list">
                            <li class="footer__nav-item footer__nav-item--heading">Телефоны</li>
                            <li>Приемная<a style="color: #e4002b;" href="tel:+74722204070"> +7(4722)20-40-70</a></li>
                            <li>Комерческий отдел <a style="color: #e4002b;" href="tel:+74722204074"> +7(4722)20-40-74</a></li>
                            <li>Отдел закупок <a style="color: #e4002b;" href="tel:+74722204075"> +7(4722)20-40-75</a></li>
                            <li>Отдел кадров <a style="color: #e4002b;" href="tel:+74722204071"> +7(4722)20-40-71</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-up">
            <a class="theme-color-bg" href="#home"><i class="fa fa-angle-up"></i></a>
        </div>
    </footer>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.0.0.js"></script> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/matchMedia.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/pathLoader.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
