{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}
Документы | RUTERM
{% endblock %}

{% block description %}

Документы | RUTERM

{% endblock %}

{% block header %}
<section>
	<div class="parallax-bg constr-page-image-parallax constr-page-overlay" data-parallax="scroll" data-image-src="{% static 'images/background_1.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="constr-p-t">Документы</h1>
					<div class="constr-under-line-2"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<div class="section-top construct-project" id="portfolio" style="padding-bottom: 80px;">

	<div class="container fluid nopadding">
		<div class="row">
			<div class="section-header-1">
				<h4>Скачать документы</h4>
			</div>
			<div class="col-md-12">
				<ul class="pf-filter">

					<li class="btn-lines" data-filter="*">Все документы
					</li>
					<li class="btn-lines" data-filter=".certificate">Сертификаты
					</li>
					<li class="btn-lines" data-filter=".passport">Паспорт
					</li>
				</ul>
				<div id="even-grid">
					<div class="isotope">
						<div class="nopadding grids-item item photo certificate">
							<img class="grid-item"  src="{% static 'images/cert_preview.jpg' %}" alt="portfolio">
							<div class="portfolio-hover">
								<div class="action-btn">
									<div class="port-title">Сертификат Ruterm</div><br>
									<a class="lightbox" target="_blank" data-lightbox-gallery="gallery1" href="{% static 'files/Ruterm_certificate.pdf' %}"> <i class="icon-magnifying-glass"></i> </a>
								</div>
							</div>
						</div>
						<div class="nopadding grids-item item photo passport">
							<img class="grid-item"  src="{% static 'images/passport_preview.jpg' %}" alt="portfolio">
							<div class="portfolio-hover">
								<div class="action-btn">
									<div class="port-title">Технический паспорт</div><br>
									<a class="lightbox" target="_blank" data-lightbox-gallery="gallery1" href="{% static 'files/technical_passport_Ruterm.pdf' %}"> <i class="icon-magnifying-glass"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}