{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}
Производство | RUTERM
{% endblock %}

{% block description %}

Процесс призводства | Этапы производства | RUTERM

{% endblock %}

{% block header %}
<section>
	<div class="parallax-bg constr-page-image-parallax constr-page-overlay" data-parallax="scroll" data-image-src="{% static 'images/main_background.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="constr-p-t">Производство</h1>
					<div class="constr-under-line-2"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}

<section class="">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				
				<section class="normal-tabs">
					<ul class="nav  nav-tabs nav-justified">
						<li class=" active">
							<a class="nav-link active" data-toggle="tab" href="#tab-one">Процесс призводства</a>
						</li>
						<li class="">
							<a class="nav-link" data-toggle="tab" href="#tab-two">Этапы производства</a>
						</li>

					</ul>
					<div class="panel-body">
						<div class="tab-content">
							<div id="tab-two" class="tab-pane">
								<div class="nopadding intr-srv-desc container">
									<div class="row">
										<div class=" col-md-6">
											<div class="fit-img prod-pic-1">
											</div>
										</div>
										<div class="col-md-6">
											<div class="arch-srv-heading right" style="padding-bottom: 30px;">1. Роспуск металла</div>
												<!-- <div class="arch-srv-subhead right"></div>
													<div class="int-under-line-3 right"></div> -->
													<p >
														Производственный цикл начинается с роспуска металла. Мы выбираем холоднокатаную сталь, изготовленную по международным стандартам. При получении партии проводим тщательный входной контроль сырья на соответствие заявленным характеристикам.
													</p>	
													<p >
														Далее сталь поступает на заготовительный участок и согласно плану производства распускается на штрипсы необходимой ширины.
													</p>	
													<p >
														Роспуск металла – технологичный и кропотливый процесс с микронной точностью измерений.
														Это гарантирует абсолютное соблюдение стандартов высоты для каждого типоразмера.
													</p>
												</div>
											</div>
											<div class="row">
												<div class="arch-srv-block-1">
													<div class="col-md-6">
														<div class="arch-srv-heading" style="padding-bottom: 30px;">2. Штамповка</div>
													<!-- <div class="arch-srv-subhead">architecture</div>
														<div class="int-under-line-3"></div> -->
														<p>
															Контуры будущих стальных панельных радиаторов формируются в штамповочном цехе, где работают 19 прессовальных высокоточных современных станков с электронным управлением.

															Каждый отвечает за штамповку конкретных деталей: внешних и внутренних панелей, конвекторов, боковых стенок и решеток.
														</p>
														<p>
															Прессы работают в автоматическом режиме и управляются программным обеспечением.
															Электронный мозг обеспечивает безукоризненную точность оттиска каждой детали.

															Панели формируются под давлением 500 тонн со скоростью 70 ударов в минуту. Это изначально закладывает идеальную геометрию готового прибора.
														</p>
													</div>
													<div class="col-md-6">
														<div class= "fit-img prod-pic-2">
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class=" col-md-6">
													<div class="fit-img prod-pic-3">
													</div>
												</div>
												<div class="col-md-6">
													<div class="arch-srv-heading right" style="padding-bottom: 30px;">3. Сварка</div>
												<!-- <div class="arch-srv-subhead right"></div>
													<div class="int-under-line-3 right"></div> -->
													<div style="height:320px; overflow: auto;">
														<p>
															Сварка стальных панельных радиаторов – ключевой этап производства. Линия LEAS (Италия) разработана специально для завода Ruterm и смонтирована производителем в 2017 году. LEAS предложили продвинутые технологии и программное обеспечение, которое безотказно
															обеспечивает работу роботов.
														</p>
														<p>
															Участие человека в сварочном цикле сводится к минимуму. Задача оператора – загрузить
															заготовки. Дальше радиатор собирается как конструктор – детали свариваются в строгой
															последовательности методами точечной и роликовой сварки.
														</p>
														<p>
															На линии работают операторы, наладчик и инженеры-электроники, которые контролируют настройки программного обеспечения. Параллельно данные обрабатываются и поступают на сервер LEAS.

															Таким образом обеспечивается тройной контроль точности сварки деталей – операторами на линии, инженерами завода и специалистами LEAS. Создается качественный продукт – стальной панельный радиатор Ruterm, эргономичный, энергоэффективный и экологичный.
														</p>
														<p>
															Также в партнерстве с компанией LEAS мы работаем над повышением производительности сварочной линии. Совершенствование программного обеспечения в комплексе с высокой квалификацией сотрудников Ruterm сокращает временные издержки на переналадку линии.

															В годовом исчислении это экономит сотни часов. Мы производим тысячи дополнительных приборов благодаря рациональной оптимизации производства.

															Это эффективное и производительное предприятие наша команда создала всего за семь месяцев. Душой завода стали инженеры, операторы и наладчики Ruterm, а сердцем –сварочная линия LEAS.
														</p>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="arch-srv-block-1">
													<div class="col-md-6">
														<div class="arch-srv-heading" style="padding-bottom: 30px;">4. Испытание</div>
													<!-- <div class="arch-srv-subhead">architecture</div>
														<div class="int-under-line-3"></div> -->
														<div style="height:320px; overflow: auto;">
															<p>
																Каждый радиатор после сварки проходит испытание в проверочной ванне, которую обслуживают два оператора. Готовый прибор полностью погружается в специальный защитный раствор под давлением 13 атмосфер. Малейшее нарушение герметичности проявляется в течение 2-3 секунд.
															</p>
															<p>
																Само построение технологического цикла на заводе Ruterm, настройки штамповочных прессов и сварочной линии практически исключают брак. При этом контроль качества на каждом этапе – обязательный пункт в технологической карте, и проверочная ванна – беспристрастный контролер.
															</p>
															<p>
																Педантичный подход к качеству продукции под брендом Ruterm – главная
																ценность компании Ruterm. Именно так формируются репутация, имя на международном рынке, доверие партнеров.
																Поэтому наши радиаторы выдерживают любые испытания на прочность, герметичность и энергоэффективность.
															</p>
														</div>
													</div>
													<div class="col-md-6">
														<div class= "fit-img prod-pic-4">
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class=" col-md-6">
													<div class="fit-img prod-pic-5">
													</div>
												</div>
												<div class="col-md-6">
													<div class="arch-srv-heading right" style="padding-bottom: 30px;">5. Обработка поверхности</div>
												<!-- <div class="arch-srv-subhead right"></div>
													<div class="int-under-line-3 right"></div> -->
													<div style="height:320px; overflow: auto;">
														<p>
															Мы применяем инновационные технологии химической обработки, которая включает три этапа очистки и подготовки к грунтованию и окрашиванию:
														</p>	
														<p>
															- Полное обезжиривание внутренней и внешней поверхности.
															- Устранение окалины, загрязнений, малейших ворсинок и пылинок.
															- Формирование защитного нанокерамического покрытия толщиной 100 нм.
														</p>	
														<p>
															Глубокая и технологичная обработка поверхности обеспечивает высокую адгезию краски и антикоррозионную защиту радиатора. Это также способствует увеличению периода хранения продукции и снижает чувствительность к низким температурам, что особенно важно при транспортировке и хранении в холодное время года.
														</p>	
														<p>
															При этом мы используем химические реагенты и составы, безопасные для человека и окружающей среды. Наши партнеры – компании Henkel Japan и Zemtech, которые известны как производители продукции безупречного качества.
														</p>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="arch-srv-block-1">
													<div class="col-md-6">
														<div class="arch-srv-heading" style="padding-bottom: 30px;">6. Грунтование</div>
													<!-- <div class="arch-srv-subhead">architecture</div>
														<div class="int-under-line-3"></div> -->
														<div style="height:320px; overflow: auto;">
															<p>
																Грунтование подготавливает радиатор к порошковой покраске. Прибор полностью погружается в ванну с вязким грунтом. Жидкая краска обволакивает панели, проникает в изгибы конвектора, заполняет возможные неровности.
															</p>
															<p>
																На заводе Ruterm используется грунт японской компании Kansai – этот производитель славится высокой адгезией составов.

																Производственный цикл построен так, что после полного погружения радиатор медленно проходит сквозь состав. Излишки стекают по мере подъема прибора, скорость рассчитана до секунды.
															</p>
															<p>
																В покрасочную камеру поступает изделие, высушенное при t130°C и покрытое пленкой одинаковой толщины, идеальным подслоем для финишного покрытия.
															</p>
														</div>
													</div>
													<div class="col-md-6">
														<div class= "fit-img prod-pic-6">
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class=" col-md-6">
													<div class="fit-img prod-pic-7">
													</div>
												</div>
												<div class="col-md-6">
													<div class="arch-srv-heading right" style="padding-bottom: 30px;">7. Покраска</div>
												<!-- <div class="arch-srv-subhead right"></div>
													<div class="int-under-line-3 right"></div> -->
													<div style="height:320px; overflow: auto;">
														<p>
															На заводе Ruterm используется безотказная и проверенная временем технология порошковой покраски и запекания.
															Частички белоснежного порошка с разным зарядом плотно окутывают внешние панели, крышки и решетки и покрывают внутренние поверхности слоем заданной толщины. Облако формируется со всех сторон – снизу, сверху, с боков.
														</p>
														<p>
															Затем радиатор поступает в камеру запекания, где при температуре 210°C запекается порошок. Легкий глянцевый блеск подчеркивает белизну поверхностей и равномерность покрытия. Стандарт толщины лакокрасочного слоя – 100 микрон.
															На выходе служба контроля качества проверяет все параметры: толщину слоя, адгезию, равномерность покрытия. Заводские стандарты распространяются на всю продукцию, независимо от бренда.
														</p>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="arch-srv-block-1">
													<div class="col-md-6">
														<div class="arch-srv-heading" style="padding-bottom: 30px;">8. Упаковка</div>
													<!-- <div class="arch-srv-subhead">architecture</div>
														<div class="int-under-line-3"></div> -->
														<div style="height:320px; overflow: auto;">
															<p>
																Полностью готовый радиатор поступает на линию упаковки. Операторы упаковывают каждую единицу в плотную полиэтиленовую пленку, надевают защитные уголки с технологическими отверстиями. Обязательно вкладывают паспорт продукции и монтажный комплект.
															</p>
															<p>	
																Это кронштейны для крепления, воздухоотводчик под отвертку, заглушки, шурупы и дюбели, пластиковые фиксаторы-прокладки. Радиаторы с нижним подключением дополнительно комплектуются вентильной вставкой.
															</p>
															<p>
																Потребитель получает стальной радиатор, полностью готовый к установке. При этом нет необходимости снимать полиэтилен – прибор монтируется в упаковке. После окончания ремонтно-отделочных работ предстает во всей красе и щедро отдает тепло холодными зимними днями и ночами.
															</p>
														</div>
													</div>
													<div class="col-md-6">
														<div class= "fit-img prod-pic-8">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="tab-one" class="tab-pane active">
										<div class="single-post">
											<div class="section">
												<div class="container">
													<div class="row ">
														<div class="col-md-offset-1 col-md-10 col-sm-8 col-xs-12">
															<section class="blog-post">
																<h4 class="blog-page-post-title">КАК МЫ ПРОИЗВОДИМ СТАЛЬНЫЕ РАДИАТОРЫ Ruterm</h4>
																<div class="blog-item-body">
																	<p>
																		Мы оснастили цех передовым оборудованием, ценим и бережем рабочие руки. Все сотрудники завода системно проходят обучение и повышают квалификацию.
																	</p>
																	<p>
																		Инженеры компании изучили сотни отопительных приборов, сравнили характеристики и технические параметры десятков брендов. В результате специалисты разработали радиаторы Ruterm – технологичный продукт, который отличают:
																	</p>	
																	<blockquote>
																		<p>
																			- энергоэффективность
																		</p>
																		<p>
																			- эргономичность
																		</p>
																		<p>
																			- экологичность
																		</p>
																	</blockquote>
																	<p>
																		Для нас превыше всего интересы конечного потребителя, который получает качественный продукт для отопления помещений различного назначения и площади. Поэтому мы построили цикл по принципу производства швейцарских часов:
																	</p>
																	<blockquote>
																		<p>
																			- контроль качества входящего сырья
																		</p>
																		<p>
																			- наладка производственных линий с микронной точностью каждой операции
																		</p>
																		<p>
																			- производство радиаторов по технологическому регламенту
																		</p>
																		<p>
																			- контроль параметров на каждом этапе
																		</p>
																		<p>
																			- упаковка и подготовка к транспортировке на любое расстояние
																		</p>
																	</blockquote>
																	<p>
																		Участие человека в производственном процессе сводится к минимуму. При этом операторы и наладчики – наши мастера часового дела, которые педантично контролируют каждый узел линий в цехе.
																	</p>
																</div>
																<h4 class="blog-page-post-title">ОДИН РАДИАТОР – ВОСЕМЬ ЭТАПОВ ПРОИЗВОДСТВА.</h4>
																<div class="blog-item-body">
																	<p>
																		На первый взгляд кажется, что стальной радиатор – это простой продукт, штампованный и сваренный из металла. На самом деле технология включает восемь этапов производства:
																	</p>	
																	<blockquote>
																		<p>
																			- роспуск металла
																		</p>
																		<p>
																			- штамповка
																		</p>
																		<p>
																			- сварка
																		</p>
																		<p>
																			- испытание
																		</p>
																		<p>
																			- обработка поверхности
																		</p>
																		<p>
																			- грунтование
																		</p>
																		<p>
																			- покраска
																		</p>
																		<p>
																			- упаковка
																		</p>

																	</blockquote>
																	<p>
																		Производство начинается с контроля качества входного сырья. Далее выполняется контроль качества на каждом этапе технологического цикла.
																	</p>
																	<p>
																		Ежесуточно мы перерабатываем 40 тонн металла. Часть отопительных приборов сразу отправляется заказчикам, часть остается на складе. Именно поэтому мы обеспечиваем поставки в течение трех дней – отопительные приборы всех типов всегда в наличии.
																	</p>
																	<p>
																		Также по просьбам партнеров расширяем ассортимент – добавляем новые типы радиаторов и типоразмеры.
																	</p>
																	<p>
																		Компания Ruterm зарекомендовала себя как поставщик, который четко выполняет договорные обязательства и обеспечивает отгрузку в срок. Это результат принципиального подхода к стандартам качества.
																	</p>
																	<p>
																		Нам доверяют партнеры, для которых мы выпускаем радиаторы. Это способствует насыщению рынка качественными отопительными приборами. В партнерстве мы видим выполнение своей миссии – теплые дома с экономичными и эффективными радиаторами.
																	</p>
																</div>
															</section>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>

						</div>

					</div>

				</section>

			</div>
		</div>
	</div>
</section>
{% endblock %}