{% extends 'en_baseapp/en_base.html' %}

{% load static %}

{% block title %}
{% if product.meta_name_en %} {{ product.meta_name_en }} {% else %}{{ product.title_en }} | RUTERM {% endif %}
{% endblock %}

{% block description %}
{% if product.meta_description_en %} {{ product.meta_description_en }} {% else %}{{ product.title_en }} | RUTERM {% endif %}
{% endblock %}

{% block header %}
<section>
	<div class="parallax-bg constr-page-image-parallax constr-page-overlay" data-parallax="scroll" data-image-src="{% static 'images/background_2.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="constr-p-t">{{ product.title_en }}</h1>
                    <div class="constr-under-line-2"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<section class="product-details">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<div class="post-single">
					<div class="single-product-img">
						<img src="{{ product.get_main_image.images.url }}" alt="" style="width: 100%;">
					</div>
				</div>
			</div>
			<div class="col-md-6">

				<section class="normal-tabs">
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="#tab-one">Specifications</a>
						</li>
						<li class="">
							<a data-toggle="tab" href="#tab-two">Description</a>
						</li>
					</ul>
					<div class="panel-body">
						<div class="tab-content">
							<div id="tab-one" class="tab-pane active" style="height:500px; overflow: auto;">
								<table class="table table-striped table-bordered">
									<tbody>
										<tr>
											<td>TYPE</td>
											<td>{{ product.good_type }}</td>
										</tr>
										<tr>
											<td>Length</td>
											<td>{{ product.good_lenght }} mm (pitch 100 mm)</td>
										</tr>
										<tr>
											<td>Height</td>
											<td>{{ product.good_height }} mm</td>
										</tr>
										<tr>
											<td>Depth</td>
											<td>{{ product.good_depth }} mm</td>
										</tr>
										<tr>
											<td>Operating pressure</td>
											<td>{{ product.operating_pressure }} atm</td>
										</tr>
										<tr>
											<td>Test pressure</td>
											<td>{{ product.test_pressure }} atm</td>
										</tr>
										<tr>
											<td>Maximum temperature of heat-transfer medium</td>
											<td>{{ product.coolant_temperature }}</td>
										</tr>
										<tr>
											<td>Certificate of Conformity RF</td>
											<td>GOST {{ product.rf_certificate }}</td>
										</tr>
										<tr>
											<td>Color</td>
											<td>{{ product.color }} (white)</td>
										</tr>
										<tr>
											<td>Surface processing technology</td>
											<td>{{ product.surface_treatment_technology }}</td>
										</tr>
										<tr>
											<td>Assurance</td>
											<td>{{ product.guarantee }} years</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div id="tab-two" class="tab-pane" style="height:500px; overflow: auto;">
								<p class="product-description">{{ product.description_en|linebreaksbr }}</p>
							</div>

						</div>

					</div>

				</section>

			</div>
		</div>


	</div>

</section> 

<section class="constr-service-2 services" id="services">

<div class="container">

    <div class="row">

        <div class="tab-head">
             <div class="col-md-3">
             <nav class=" nav-sidebar">
                <ul class="nav tabs">
                  <li class="active"><a href="#tab1" data-toggle="tab">Dimensions</a></li>
                  <li class=""><a href="#tab2" data-toggle="tab">Height, depth</a></li>
                  <li class=""><a href="#tab3" data-toggle="tab">Thermal efficiency</a></li>
                  <li class=""><a href="#tab4" data-toggle="tab">Weight, capacity</a></li>
                  <li class=""><a href="#tab5" data-toggle="tab">Connection methods</a></li>
                  <li class=""><a href="#tab6" data-toggle="tab">Assemblage</a></li>
                </ul>
            </nav>

             <!-- <img class="constr-srv-img fit-img" src="images/construct/srv-1a.png" alt=""> -->

            </div>
        <div class="col-md-9 tab-content">
        	<div class="tab-pane active text-style" id="tab1">
        		<div class="row">
        			<div class="constr-srv-details" style="width: 100%;">
        				<div class="col-md-12">
        					<div class="facts">
        						<h4>Dimensions</h4>
        					</div>
        				</div>
        				<table class="table table-striped table-bordered">
        					<thead>
        						<tr style="background-color: grey;">
        							<th>TYPE</th>
        							<th>Height, mm</th>
        							<th>Length, mm</th>
        							<th>Distance between connection ports, mm</th>
        						</tr>
        					</thead>
        					<tbody align="center">
        						{% for item in size %}
        						<tr>
        							<td>{{ item.0.value }}</td>
        							<td>{{ item.1.value }}</td>
        							<td>{{ item.2.value }}</td>
        							<td>{{ item.3.value }}</td>
        						</tr>
        						{% endfor %}
        					</tbody>
        				</table>
        			</div>
        		</div>
        	</div>

            <div class="tab-pane  text-style" id="tab2">
                <div class="row">
                    <div class="constr-srv-details">
                        <div class="col-md-12">
                            <div class="facts">

                                <h4>Height, depth</h4>

                            </div>
                        </div>

                       <div class="row">
                            <div class="col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/height/tolshhina.jpg' %}" alt="">
                            </div>
                            <div class="col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/height/vysota.jpg' %}" alt="">
                            </div>
                            <div class="col-md-offset-2 col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/height/tolshhina_1.jpg' %}" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane  text-style" id="tab3">
                <div class="row">
                    <div class="constr-srv-details">
                        <div class="col-md-12">
                            <div class="facts">

                            <h4>Thermal efficiency</h4>
                            Schedule of thermal efficiency of all standard sizes due to ΔТ30, ΔТ50, ΔТ70.
                            </div>
                        </div>

                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="10" style="text-align: center; background-color: grey;">TYPE {{ product.good_type }}</th>
                                </tr>
                                {% for item in heat_head %}
                                <tr>
                                    <th colspan="2" >{{ item.0.value }}</th>
                                    <th >{{ item.2.value }}</th>
                                    <th style="text-align: center;">{{ item.3.value }}</th>
                                    <th style="text-align: center;">{{ item.4.value }}</th>
                                    <th style="text-align: center;">{{ item.5.value }}</th>
                                    
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th>{{ heat_head_1.0.value }}</th>
                                    <th>{{ heat_head_1.1.value }}</th>
                                    <th  colspan="6" ></th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                {% for item in heat_body %}
                                <tr>
                                    {% if item.0.value %}<td rowspan="3">{{ item.0.value }}</td>{% endif %}
                                    <td>{{ item.1.value }}</td>
                                    <td>{{ item.2.value }}</td>
                                    <td>{{ item.3.value }}</td>
                                    <td>{{ item.4.value }}</td>
                                    <td>{{ item.5.value }}</td>
                                   
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="tab-pane text-style" id="tab4">
        		<div class="row">
        			<div class="constr-srv-details" style="width: 100%;">
        				<div class="col-md-12">
        					<div class="facts">
        						<h4>Weight, capacity</h4>
                                All data is given for 1 m of radiators length.
        					</div>
        				</div>
        				<table class="table table-striped table-bordered">
        					<thead>
        						<tr>
        							<th colspan="7" style="text-align: center; background-color: grey;">TYPE {{ product.good_type }}</th>
        						</tr>
        					</thead>
        					<tbody align="center">
        						{% for item in weight %}
        						<tr>
        							<td>{{ item.0.value }}</td>
        							<td>{{ item.1.value }}</td>
        							<td>{{ item.2.value }}</td>
        							<td>{{ item.3.value }}</td>
        							<td>{{ item.4.value }}</td>
        							
        						</tr>
        						{% endfor %}
        					</tbody>
        				</table>
        			</div>
        		</div>
        	</div>
            <div class="tab-pane  text-style" id="tab5">
                <div class="row">
                    <div class="constr-srv-details">
                        <div class="col-md-12">
                            <div class="facts">

                                <h4>Side connection</h4>

                            </div>
                        </div>

                       <div class="row">
                            <div class="col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/connect/1-1.jpg' %}" alt="">
                            </div>
                            <div class="col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/connect/2-1.jpg' %}" alt="">
                            </div>
                            <div class="col-md-offset-2 col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/connect/3-2.jpg' %}" alt="">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="constr-srv-details">
                        <div class="col-md-12">
                            <div class="facts">

                                <h4>Bottom connection</h4>

                            </div>
                        </div>

                       <div class="row">
                            <div class="col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/connect/1-1_niz.jpg' %}" alt="">
                            </div>
                            <div class="col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/connect/2-1_niz.jpg' %}" alt="">
                            </div>
                            <div class="col-md-offset-2 col-md-6">
                                <img class="constr-srv-img-2 fit-img" src="{% static 'images/connect/3-2_niz.jpg' %}" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane text-style" id="tab6">
        		<div class="row">
        			<div class="constr-srv-details" style="width: 100%;">
        				<div class="col-md-12">
        					<div class="facts">
        						<h4>Assemblage</h4>
                                <div class="row">
                                    <div class="col-md-6" style="padding-left: 20px;">
                                        <p>Position of central staple TYPE 10,21, 22,30,33:</p>
                                        — for paired radiator lengths:<br>
                                        D=L/2 where L — radiator length <br>
                                        — for non-paired radiator lengths: <br>
                                        D=L/2-16.67 where L — radiator length
                                    </div>
                                    <div class="col-md-6" style="padding-left: 20px;">
                                        <p>Position of central staple TYPE 11:</p>
                                        — for paired radiator lengths:<br>
                                        D=L/2-16,67 where L — radiator length<br>
                                        — for non-paired radiator lengths:<br>
                                        D=L/2 where L — radiator length
                                    </div>
                                </div>    
        					</div>
        				</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="constr-srv-img-2 fit-img" src="{% static 'images/mount/front.jpg' %}" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="constr-srv-img-2 fit-img" src="{% static 'images/mount/back.jpg' %}" alt="">
                                </div>
                            </div>
                        </div> 
        				<table class="table table-striped table-bordered">
        					<thead>
        						<tr>
        							<th colspan="4" style="text-align: center; background-color: grey;">TYPE {{ product.good_type }}</th>
        						</tr>
        					</thead>
        					<tbody align="center">
        						{% for item in mounting %}
        						<tr>
        							<td>{{ item.0.value }}</td>
        							<td>{{ item.1.value }}</td>
        							<td>{{ item.2.value }}</td>
        							<td>{{ item.3.value }}</td>
        						</tr>
        						{% endfor %}
        					</tbody>
        				</table>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="constr-srv-img-2 fit-img" src="{% static 'images/mount/mount_1.jpg' %}" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="constr-srv-img-2 fit-img" src="{% static 'images/mount/mount_2.jpg' %}" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="constr-srv-img-2 fit-img" src="{% static 'images/mount/mount_3.jpg' %}" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="constr-srv-img-2 fit-img" src="{% static 'images/mount/mount_4.jpg' %}" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="constr-srv-img-2 fit-img" src="{% static 'images/mount/mount_5.jpg' %}" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img class="constr-srv-img-2 fit-img" src="{% static 'images/mount/mount_6.jpg' %}" alt="">
                                </div>
                            </div>
                        </div> 
        			</div>
        		</div>
        	</div>
        </div>
  <div class="clearfix"></div>
     </div>

    </div>

</div>

</section>
{% endblock %}